#content {
    width: 100%;
}

#menu {
    float: left;
    width: 65%;
}

#titles {
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    border-collapse: collapse;
}

#titles > p {
    border-style: solid;
    width: 32%;
    background-color: #83aaa9;
}

form div {
    width: 33%;
}

.hover {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

/**
#sushi, #drinks, #dessert {
    display: none;
}

#sushiTitle:hover ~ #sushi, #drinksTitle:hover ~ #drinks, #dessertTitle:hover ~ #dessert {
    display: flex;
}

#sushiTitle:hover, #drinksTitle:hover, #dessertTitle:hover {
    background-color: #a5caca;
}
**/


#confirmation {
    float: right;
    width: 35%;
}

#confirmation a:visited, #confirmation a {
    color: black;
    text-decoration: none;
}

/** table styles **/

table {
    width: 95%;
    border-collapse: collapse;
    border: 1px solid black;
}


table a {
    color: blue;
    text-decoration: none; /* no underline */
}

thead {
    border-bottom: 1px solid gray;
}

tbody tr:nth-of-type(2n) {
    background-color: #83aaa9;
}

tfoot {
    font-weight: bold;
    border-top: 1px solid gray;
}

th {
    text-align: left;
}

tr:hover, tbody tr:nth-of-type(2n):hover {
    background-color:#f5f5f5;
    transition: 0.5s;
}

tr td:last-child, tr th:last-child {
    text-align: right;
}

/** end table styling **/

