#menu, #footer, #undo {
    display: none;
}

#confirmation {
    float: none;
    align-content: center;
    position: relative;
    left: 33%;
    flex-grow: inherit;
}

body {
    text-align: center;
}