body {
    background-color: #d5f2f1;
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#header {
    background-color: #1c9bd6;
    text-align: center;
    overflow: auto;
    margin: 0%;
}

#header > * {
    display: inline;
    vertical-align: middle;
}

#footer {
    color: orange;
}

#content {
    margin: 8px;
    content: "";
    display: table;
    clear: both;
}
