body {
    background-color: #d5f2f1;
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#header {
    background-color: #1c9bd6;
    text-align: center;
    overflow: auto;
    margin: 0%;
}

#header > * {
    position: relative;
    display: inline;
    vertical-align: middle;
}

#header > img {
    animation-name: spin;
    animation-duration: 4s;
}

#content {
    margin: 8px;
    content: "";
    display: table;
    clear: both;
}

#footer {
    color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    background-color: #1c9bd6;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}